@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}


h1{
  color: var(--Neutral-800, #170F49);
  font-feature-settings: 'clig' off, 'liga' off;
  
  font-family: 'DM Sans', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
}

h2{
  color: #05BBAA;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.8px;
  text-transform: uppercase;

}
h3{
  color: var(--Neutral-100, #FFF);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}

p1{
  color: var(--Neutral-600, #6F6C90);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
}

p{
  color: var(--Neutral-600, #6F6C90);
  font-feature-settings: 'clig' off, 'liga' off;
  padding-right: 3.4%;
  padding-top: 2%;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;

}

.leftheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
}

.nav {
  width: min-content;
  justify-content: right;
  padding-left: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.header {
  width: min-content;
}

.logo {
  display: flex;
  align-items: center; 
}

.name, .text {
  width: 40vw;
}

.transcript {
  margin-top: 5rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-right: 5%;
  min-height: 500px;
  height: fit-content;
  background-color: #D9D9D999;
  border: 1px solid black;
  border-radius:30px ;
}

.multiline-textbox {
  width: 80%;
  min-height: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
}

.recordbtn{
  margin-top: 2rem;
  margin-left: 2rem;
  width: auto;
  display: inline-flex;
  padding: 5px 40px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 100px;
  background: linear-gradient(92deg, #EB5951 28.11%, #D97974 99.62%);
}

.btn-style {
  display: flex;
  flex-direction: row;
}

.genbtn{
  display: flex;
  width: 503px;
  height: 56px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-shrink: 0;
  border-radius: 100px;
  justify-content: center;
  background: linear-gradient(82deg, #05BBAA 35.24%, #4533D4 166.04%, #05BBAA 247.94%);
}

.generatefeedback {
  color: black;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}