.card{
    height: 300px;
    background-color: blue;
    width: 45%;
   
    justify-content: center;
}
.flashcardcontainer{
    height: 200px;
    margin: 2%  2%;
    background-color: blueviolet;

}
.display{
    height: 300px;
    margin: 2%  2%;
    background-color: blueviolet;
}