.card{
    height: 300px;
    background-color: blue;
    width: 45%;
   
    justify-content: center;
}
.flashcardcontainer{
    height: 200px;
    margin: 2%  2%;
    background-color: blueviolet;

}
.display{
    overflow: hidden;
    height: 300px;
    margin: 2%  2%;
    background-color: blueviolet;
}
.resources{
    height: 100px;
    margin: 2%  2%;
    background-color: rgba(22, 50, 140, 0.53);
    
}

.storybook{
    height: 100px;
    margin: 2%  2%;
    background-color: rgba(22, 50, 140, 0.53);
    
}